@import url(../Theme/Theme.module.css);

header {
  background-color: var(--accent);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  padding: 0;
}

ul li {
  list-style: none;
}

.burger,
.shoppingBag {
  background-color: white;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger {
  margin-left: 1rem;
}

.shoppingBag {
  margin-right: 1rem;
}
