@import url(../Theme/Theme.module.css);

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
  width: 90%;
  max-width: 950px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(193, 188, 188);
  position: absolute;
  top: 0;
  left: 0;
  width: 70vw;
  height: 100vh;
  border-radius: 0 1rem 1rem 0;
  z-index: 10;
  translate: -70vw 0;
  transition: all 0.3s ease;
}

.menu.open {
  translate: 0;
}

.close {
  position: absolute;
  top: 4rem;
  left: 2rem;
  font-size: 2rem;
  align-self: flex-end;
  cursor: pointer;
}

.navigation {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 12rem;
  padding: 2rem;
}

.navigation li {
  list-style: none;
  font-size: 2rem;
}

.burger,
.shoppingBag {
  background-color: white;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.burger {
  margin-left: 1rem;
}

.burger i,
.shoppingBag i {
  font-size: 2rem;
}

.shoppingBag {
  margin-right: 1rem;
}

.brand {
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
}
