@import url(./Theme/Theme.module.css);

.container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  text-align: center;
  padding: 2rem;
}

.information {
  background-color: var(--accent-opacity);
  padding: 2rem;
  margin-top: 5rem;
}

.information a {
  text-decoration: underline;
  font-weight: 600;
}
